cnf/* linguist-vendored
icadical/** linguist-vendored
partial/** linguist-vendored
proof/* linguist-vendored
incr/cnf/* linguist-vendored
incr/cubes/* linguist-vendored
incr/icnf/* linguist-vendored
incr/logs/* linguist-vendored
